.main {
}

.page {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  margin-top: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 13mm;
  padding-bottom: 13mm;
  width: calc(4*(64mm + 2mm));
}

.card {
  margin: 1mm;
  border: 1px solid black;
  width: 64mm;
  height: 89mm;
  padding: 2mm;
  display: inline-flex;
  flex-flow: column nowrap;
  align-items: stretch;
  justify-content: stretch;
  gap: 1mm;
}

.common {
  background-color: #d9d9d9;
}

.uncommon {
  background-color: #b3ffb3;
}

.rare {
  background-color: #b3bfff;
}

.veryrare {
  background-color: #e6b3ff;
}

.legendary {
  background-color: #ffd9b3;
}

.card_row_header {
  flex-grow: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  background-color: #FFF;
  border-radius: 2mm;
  padding: 1mm;
}

.card_row {
  flex-grow: 1;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  background-color: #FFF;
  border-radius: 2mm;
  padding: 1mm;
}

.card_header {
  flex: 1 0 100%;
  text-align: center;
  font-size: 12pt;
  font-weight: bold;
}

.card_table {
  background-color: #FFF;
  border-radius: 2mm;
  display: flex;
  flex-flow: row wrap;
}

.card_table div {
  flex: 1 1 50%;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  padding: 1mm;
}

.card_category {
  text-align: center;
  flex: 1 1 100%;
  font-size: 8pt;
  font-weight: bold;
}

.card_property {
  text-align: center;
  font-size: 10pt;
}

.card_attunement {
  text-align: center;
  font-size: 10pt;
}

.card_description {
  font-size: 10pt;
  flex: 1 1 100%;
  padding: 1mm;
  white-space: pre-line;
}

.card_image {
  display: flex;
  flex-flow: column nowrap;
  flex: 1 1 100%;
  justify-content: center;
  background-color: #FFF;
  border-radius: 2mm;
  padding: 1mm;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.card_image span {
  font-size: 10pt;
  text-align: center;
}

.card_image div {
  flex: 1 1 100%;
  background-size: 40px, 40px;
  background-repeat: no-repeat, no-repeat;
  background-position: top left, top right;
}


.card_type {
  font-size: 10pt;
  text-align: center;
  font-style: italic;
}

.card_row_slots {
  flex-grow: 0;
  display: flex;
  flex-flow: row wrap;
  background-color: #FFF;
  border-radius: 2mm;
  padding: 1mm;
}

.card_slot {
  border-style: solid;
  border-width: 2px;
  border-color: #666;
  border-radius: 2px;
  aspect-ratio: 1 / 1;
  margin: 1px;
  width: 25px;
}

@media print{
  .page {
    break-inside: avoid;
  }
}

@page {
  size: A4 landscape;
}
